# Parsing Data Of Valorant CSV Files
**Name: Andrew Angulo**

**Project: Data Systems**

The purpose of this project is to grab data from CSV files that depicts data from the game Valorant. We need to turn the data into a Dictionary of Lists and a Nested List so that we can properly display our data within a tabular data using pandas. In the end our data should be parsed 2 different ways.

---
# Location of Files
1. Data_Files/EDA of Valorant/**val_stats**
2. Data_Files/Valorant eSports/**Players** or /**Teams**
3. Data_Files/Valorant Leaderboard Stats/**val_stats**
4. Data_Files/Valorant_Weapon_Stats/**valorant-stats**

### Description of the files:
- EDA of Valorant/**val_stats** provides a CSV file of the top players with their average data taken from the game Valorant. It   shows their average headshots, the top 3 weapons they use, their kd_ratio and much more. 
- Valorant eSports/**Players** provides us with the players name, rank and their earnings
- Valorant eSports/**Teams** provides us with the teams, the ratings of these teams and the earnings
- Valorant Leaderboard Stats/**val_stats** provides us the top players and all of the information of their average playstyle     within the game Valorant
- Valorant_Weapon_Stats/**valorant-stats** provides us with the data each gun provides such as the price, dmg per body part,     and much more
---

In [1]:
import csv
import os
import pandas as pd
datadir = "Data_Files"

## Description of imports:
- we use **import csv** instead of import os.path because it provides the same funcationality with only one line and its much easier to use when we are dealing with large CSV files
- we use **os** to obtain the file paths of the CSV files within the folder
- we use **pandas** in order to convert a Dictionary of List or a Nested List into a tabular data so that we can easily view our data much easier.

- we created datadir so we can settle the destination of the original folder where all of the information is being held

---
## Helpful function to convert string -> float

Althought we could use something like isdigit == False or something else, it wont handle the cases for strings because it will try to convert a string to a float which isn't possible. With isfloat, we can just pass through the value and if we can cast it as a float we just return true. This allows us to fix the special string case and turning possible integers to floats.

In [2]:
def isfloat(num):
    """
    Returns True if the string is a float
    and False if its not a float
    
    Parameters
    ----------
    num : str
        - The first parameter
    
    Returns
    -------
    Boolean : T or F
        - trys each value to see if its a float
          returns True if it is, False otherwise
    """
    try:
        float(num)
        return True
    except ValueError:
        return False

---
# Putting Data within respectable DoL

The purpose to use Dictionary of List is so we can respectable grab the data from specific CSV files from their respective keys. This allows us to easily grab information from our CSV file

In [3]:
def ValorantDoL(file):
    """
    Returns a Dictionary of List from 
    data collected of a CSV file
    
    Parameters
    ----------
    file : CSV file
        - The first parameter
        
    Returns
    -------
    Data : Dictionary of Lists
        - A Dictionary of Lists that contains all the 
          data past the header in the CSV file and stored them in
          their respected key 
    """
    Data = {} #Instantiating a empty Dictionary
    with open(file, 'r', encoding='UTF-8') as csv_file:
        csv_reader = csv.reader(csv_file)
        header = next(csv_reader) #Grabs header 
        for num in range(len(header)): #puts the names in header into the key within the Dictionary
            Data[header[num]] = [] #Each key has a value of empty lists
        
        data_read = [row for row in csv_reader]
        
        for i in range(len(data_read)):
            for j in range(len(header)):
                data_read[i][j] = data_read[i][j].replace(',', '')
                if(data_read[i][j].isdigit()): #Tests to see if its an integer
                    data_read[i][j] = int(data_read[i][j])
                elif(isfloat(data_read[i][j])): #Tests to see if its a decimal
                     data_read[i][j] = float(data_read[i][j])  
                Data[header[j]].append(data_read[i][j]) #Appends final values to the keys in Lists
    
    return Data

### Printing Out the Dictionary of Lists
>Using the function we created ValorantDoL(file) we convert the CSV file to a Dictionary of Lists

###### You can change the file path to read a different CSV file

In [4]:
DictionaryDoL = ValorantDoL(os.path.join(datadir, "Valorant_eSports", "Teams.csv"))
print(DictionaryDoL)

{'Rank': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 160, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 181, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 217, 219, 220, 220, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 234, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 285, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 298, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 323, 323, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 351, 353, 354, 354, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 392, 394, 395, 396, 397, 398, 399, 400, 401, 402], 'Team': ['Sentinels', 'Acend', 'Gambit Esports', 'Team Liquid', 'G2 Esports', 'Team Envy', '100 Thieves', 'Vision Strikers', 'Fnatic', 'KRÃœ Esports', 'Cloud9', 'FunPlus Phoenix', 'ZETA DIVISION', 'NUTURN Gaming', 'TSM', 'X10 CRIT', 'Team Vikings', 'XSET', 'Velocity Gaming', 'FaZe Clan', 'Crazy Raccoon', 'Team Heretics', 'Version1', 'Paper Rex', 'Gen.G Esports', 'BBL Esports', 'Futbolist', 'forZe', 'Global Esports', 'FURIA Esports', 'Guild Esports', 'Luminosity Gaming', 'Anubis Gaming', 'Ninjas in Pyjamas', 'Gamelanders Blue', 'FULL SENSE', 'Bren Esports', 'BOOM Esports', 'Cloud9 White', 'NRG', 'Immortals', 'Keyd Stars', 'The Guard', 'TNL Esports', 'Oxygen Esports', 'Australs', 'SuperMassive Blaze', 'Shopify Rebellion', 'E-Xolos LAZER', 'Liberty', 'Rise', 'Giants', "Team RA'AD", 'DAMWON Gaming', 'Team Secret', 'Alter Ego', 'Enigma Gaming', 'Sharks Esports', 'One Breath Gaming', 'fish123', 'Gamelanders Purple', 'Team Singularity', inf, 'ORDER', 'Dignitas Female', 'Counter Logic Gaming Red', 'CERBERUS Esports', 'F4Q', 'BIG', 'TENSTAR Nova', 'NYFU', 'OpTic Gaming', 'G2 Gozen', 'ahq e-Sports Club', 'TSM X', 'Renegades', 'Team SMG', 'Attack All Around', 'GMT Esports', 'T1', 'Team Exploit', 'NASR Esports', 'XERXIA', 'Alliance', 'Knights', 'Piercer Esports', 'South Built Esports', 'SUMN FC', 'Wave Esports', 'CrowCrowd', 'MAJKL', 'DRX', 'Team Vitality', 'DfuseTeam', 'Guild X', 'Bleed eSports', 'Made in Thailand', 'Fox Gaming', 'Complexity Gaming', 'LDN UTD', 'TENSTAR', 'Team Big BAAM', 'LDM Esports', 'B4 Angels', 'Oxxgen Esports', 'LeviatÃ¡n', '9z Team', 'Team BDS', 'LOUD', 'Team nxl', 'Mamba Mode Gaming', 'World Game Star', 'Alter Ego CelestÃ¨', 'Estral Esports', 'CBT Gaming', 'paiN Gaming', 'Natus Vincere', 'T1 Korea', 'Fire Flux Esports', 'SCARZ', 'Cloud9 Korea', 'Sharper Esport', 'Six Karma', 'Totoro Gaming', 'Pioneers', 'Liberty Female', 'Prince', 'YaLLa Esports', 'China Nguyen', 'Movistar Riders', 'Opportunists', 'On Sla2ers', 'Team XO', 'UCAM Esports Club', 'need more DM', 'Akrew', 'Built By Gamers', 'nolpenki', 'BlackBird Ignis', 'Action PH', 'Rare Esports', 'Fancy United Esports', 'EZ5', 'Ballista Esports', 'REJECT', 'EXO Clan', 'HEET', 'Royal Never Give Up', 'INGAMING Esports', 'Evil Geniuses', 'Team Majesty', 'ownage', 'OtherSide Esports', 'Susquehanna Soniqs', 'University of Houston Premiere', 'FAV gaming', 'Tales of Eastern', 'Cyber Skull Esports', 'IVY', 'Border Monsters', 'Pretty Boyz', 'Kingsmen', 'Big Frames', 'StartedFromCS', 'Elysium', 'iPon Esport', 'Mindfreak', 'VALORANDO', 'Ghost Gaming', 'Bottom Fraggers', 'Wygers Argentina', 'SLICK', 'HypHypHyp', 'Phoenix1', 'Anonymo Esports', 'aNg DarkHorse', 'Raise Your Edge Gaming', 'mouseSpaz', 'Imperial Esports', 'Rix.GG Lightning', 'FUSION', 'Way 2 French', 'For The Win Esports', 'SoaR', 'Lag Gaming', 'Wildcard Gaming', 'F1 x LS Esports', 'Bonk', 'Todak', 'Samurai Esports', 'THOSE GUYS', 'Team Finest', 'Prospects', 'Stars Horizon', 'AWARIA', 'XSET Female', 'Furious Gaming', 'Sengoku Gaming', 'CGN Esports', 'FishkaVTom', 'Ä°stanbul Wildcats', 'Reckoning Esports', 'Purple Cobras', 'Excel Esports', 'PartyParrots', 'Moon Raccoons', 'APEX PEOPLE', 'PENTA', 'Oasis Gaming', 'Stars Horizon VÃªnus', 'ROX TEAM', 'tyeasy', 'Echo 8', 'DivisionX Gaming', 'KOVA', 'B4 Esports', 'DetonatioN Gaming', 'True Rippers Esports', 'Zero Zone', 'Moon Raccoons Black', 'Dignitas', 'Keyd Stars Athenas', 'Divinity', 'Anatolia Esports', 'Spot Up', 'Only One Word', 'Nigma Galaxy', 'TSM Academy', 'Nigma Galaxy Female', 'Kafalar Esports', 'EDward Gaming', '3BL Esports', 'Vorax', 'Team Underrated', 'together we are terrific', 'Team Bliss', 'TBK Esports', 'Ovation eSports', 'KPI Gaming', 'Noble', 'NG.Black', 'KaiXin Esports', 'FS Esports', 'Geekay Esports', 'Overtime Esports', 'HSDIRR', 'Team Launch', 'Digital Athletics', 'Thunderbolts Gaming', 'GodLike Esports', 'Team Falcons', 'Rix.GG Thunder', 'FABRIKEN', 'KONE', 'XPLDZ', 'PACT', 'Anorthosis Famagusta Esports', 'Last Round Save', 'Skull Cracker Fem', 'PROPARTY', 'NOTHING2LOSE', 'Team Queso', 'smoke', 'DKS Esports', 'Ferrari Peek', 'Man I Love Fwogs', 'Angry Titans', 'Squad5', 'Project X', 'BearClaw Gaming', 'Mod-Z Esports', 'Entropiq', 'PEACE', 'ArkAngel', 'ZFGaming', 'Axsor', "Cairo City G'zzz", 'Team oNe', 'Aricat Esport', 'Team Serenity', 'Gen.G Black', 'SuperMassive Blaze Female', 'GiefKalash', 'Rebirth Esports', 'SV Empire', 'SAW', 'YFP Gaming', 'Rio Company', 'TUBEPLE Gaming', 'Warriors', 'MOUZ', 'BeÅŸiktaÅŸ Esports', 'Team Weibo', 'Zeal Esports', 'ehehxd', 'INTZ Angels', 'No Mercy', 'Morning Light', 'KRÃœ Fem', 'Exceeli Esports', 'Wichita Wolves', 'Kaos Latin Gamers', 'Thailand Attitude', 'BLUE BEES', 'Illuminar Gaming', 'Mystify', 'Team Lixa', 'Wygers', 'Highground', 'Worst Players', 'Suning', 'Chakalaka', 'LOL-', 'Surreal Esports', 'Oxygen Supremacy', 'Elevate', 'Legacy Esports', 'Team Liquid Brazil', 'ROYALS', 'FW ESPORTS', 'Reality Rift', 'Real Betis', 'Meta Gaming', 'Code7', 'Akave Esports', 'looking4org', 'VIMDOLOL', 'Mixup', 'OG', 'Rebels Gaming', 'PDHM Gaming', 'flow state', 'SUPRMODE', 'Northeption', 'eXiLe eSports', 'Revolution', 'EveryBodyDance', 'Tek Gaming', 'Los Grandes', 'Sangal Esports', 'Arctic', 'Celeste Esports', 'Skull Cracker', 'FENNEL', '2G4L', 'DarkZero Esports', 'Futbolist Female', 'Quantum Strikers', 'AoeXe', 'LIZHI', 'Optix', 'ascend', 'Penguin Sledding', 'WATAHA', 'Avenue Esports', 'BBL Queens', 'The Ultimates', 'Crypto Esports', 'Dire Wolves', 'Ryze Gaming', 'Team FANGS', 'Kanga Esports', 'Vengeance', 'Aim.Attack', 'FRENCH CANADIANS', '19esports', 'eSuba', 'Spacestation Gaming', 'Diamant Esports', 'Funkboings', 'Fadee Gaming', 'Enterprise Esports', 'Entropiq Bravo', 'big pizza', 'Ground Zero Gaming', 'Rex Regum Qeon', 'QLASH Egypt', 'beastcoast', 'Complexity GX3', 'HaZe Clan', 'S2V Esports', 'Avant Gaming', 'VersionX', 'DeToNator', 'CYCLOPS athlete gaming', 'Chiefs Esports Club', 'Falkol eSports', 'FenerbahÃ§e Esports', 'TERROR.NET', 'Dark Passage', 'Case Esports', 'Team Empire', 'T1 Academy', 'FURY', 'eRa Eternity', 'SKADE', 'Black Dragons', 'Unicorns of Love', 'Nora-Rengo', 'Lunatic-hai', 'DETONA Gaming', 'Lunatic-hai FLUX'], 'Gold': [12, 5, 8, 4, 7, 2, 2, 17, 1, 7, 6, 4, 9, 2, 9, 9, 3, 3, 19, 2, 3, 6, 2, 10, 4, 3, 5, 10, 18, 1, 0, 2, 11, 4, 8, 7, 13, 9, 4, 1, 1, 4, 2, 1, 1, 6, 1, 4, 5, 2, 3, 6, 7, 0, 0, 7, 5, 0, 8, 7, 14, 1, 11, 6, 3, 3, 3, 0, 19, 5, 4, 0, 2, 6, 3, 7, 5, 11, 7, 0, 4, 6, 2, 1, 1, 7, 3, 2, 10, 0, 1, 1, 2, 3, 0, 1, 3, 9, 3, 3, 1, 8, 3, 5, 3, 2, 4, 1, 1, 3, 15, 1, 11, 7, 4, 0, 1, 0, 2, 2, 1, 3, 1, 8, 1, 3, 0, 7, 9, 2, 7, 0, 1, 2, 5, 5, 2, 5, 2, 1, 0, 5, 7, 0, 1, 3, 5, 10, 3, 0, 4, 6, 0, 3, 2, 1, 2, 0, 4, 5, 4, 1, 8, 1, 13, 15, 1, 8, 2, 6, 1, 0, 5, 4, 2, 0, 0, 6, 0, 1, 0, 6, 6, 2, 2, 1, 2, 0, 3, 3, 6, 2, 6, 1, 1, 0, 2, 0, 0, 9, 2, 2, 4, 1, 4, 1, 3, 2, 1, 1, 2, 0, 5, 3, 0, 2, 1, 1, 0, 0, 0, 0, 0, 0, 6, 2, 2, 2, 3, 0, 5, 1, 0, 4, 4, 4, 0, 2, 3, 2, 1, 8, 5, 1, 1, 4, 1, 2, 0, 0, 2, 0, 3, 0, 0, 4, 2, 7, 3, 0, 2, 3, 6, 2, 8, 1, 3, 2, 3, 0, 0, 2, 0, 1, 1, 4, 0, 0, 4, 2, 1, 0, 3, 1, 0, 3, 2, 0, 0, 3, 0, 0, 3, 1, 4, 2, 3, 2, 3, 2, 7, 2, 2, 1, 1, 3, 10, 1, 2, 1, 2, 6, 1, 3, 2, 1, 0, 2, 2, 2, 1, 1, 0, 1, 2, 3, 0, 2, 0, 1, 5, 1, 1, 0, 4, 1, 3, 2, 2, 0, 2, 6, 3, 0, 1, 0, 0, 1, 2, 0, 0, 2, 5, 4, 6, 0, 0, 1, 0, 1, 7, 0, 7, 1, 1, 0, 2, 1, 6, 0, 1, 0, 4, 2, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 3, 0, 0, 1, 0, 0, 4, 0, 0, 0, 1, 0, 1, 0], 'Silver': [3, 1, 3, 2, 2, 2, 3, 0, 2, 3, 5, 2, 3, 1, 2, 1, 0, 2, 8, 3, 3, 1, 1, 5, 4, 1, 1, 3, 7, 1, 4, 2, 3, 2, 3, 3, 2, 6, 0, 3, 2, 2, 0, 1, 6, 4, 1, 2, 5, 2, 2, 4, 5, 1, 1, 5, 7, 1, 5, 2, 2, 3, 4, 3, 2, 3, 2, 1, 3, 2, 2, 1, 0, 1, 8, 5, 6, 4, 3, 1, 0, 0, 1, 1, 6, 5, 1, 3, 7, 1, 0, 0, 0, 0, 3, 2, 4, 1, 5, 1, 3, 0, 4, 7, 1, 2, 5, 1, 0, 2, 6, 0, 0, 1, 1, 2, 3, 2, 1, 2, 1, 10, 3, 7, 2, 6, 0, 3, 4, 4, 1, 1, 6, 3, 1, 0, 3, 3, 1, 3, 0, 2, 2, 0, 2, 2, 1, 9, 3, 1, 2, 7, 1, 5, 4, 2, 2, 0, 3, 1, 3, 5, 5, 2, 6, 11, 5, 3, 2, 5, 2, 0, 1, 4, 3, 2, 0, 1, 2, 1, 1, 2, 1, 2, 1, 1, 2, 4, 1, 4, 1, 1, 7, 0, 3, 2, 6, 2, 4, 2, 0, 5, 1, 1, 1, 5, 0, 0, 1, 1, 1, 1, 1, 4, 1, 2, 1, 2, 0, 0, 1, 2, 0, 3, 3, 0, 2, 2, 4, 1, 7, 2, 1, 3, 3, 0, 0, 5, 0, 1, 1, 4, 3, 2, 4, 3, 1, 1, 1, 3, 0, 1, 5, 1, 1, 1, 1, 4, 3, 1, 1, 2, 5, 2, 1, 3, 1, 0, 3, 1, 0, 2, 2, 2, 1, 1, 2, 3, 0, 6, 2, 2, 2, 3, 4, 1, 3, 0, 0, 3, 0, 0, 4, 2, 6, 3, 1, 3, 0, 1, 2, 1, 1, 1, 2, 2, 4, 0, 4, 3, 2, 1, 1, 1, 3, 2, 1, 0, 1, 4, 1, 3, 1, 3, 1, 0, 1, 0, 0, 1, 1, 6, 1, 1, 3, 2, 0, 3, 0, 1, 1, 2, 0, 0, 3, 1, 0, 1, 2, 0, 2, 2, 1, 2, 5, 0, 1, 1, 0, 2, 0, 1, 7, 3, 0, 1, 1, 0, 2, 2, 4, 2, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 2, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1], 'Bronze': [1, 1, 0, 2, 1, 2, 2, 0, 2, 1, 5, 0, 1, 1, 0, 1, 0, 1, 4, 0, 0, 0, 0, 1, 2, 0, 3, 2, 2, 2, 1, 4, 0, 2, 0, 1, 0, 2, 0, 1, 5, 1, 0, 0, 1, 0, 0, 2, 3, 0, 1, 1, 3, 1, 0, 4, 7, 0, 0, 0, 1, 1, 2, 0, 2, 2, 3, 0, 1, 1, 2, 0, 1, 0, 0, 1, 3, 2, 2, 1, 2, 1, 0, 1, 0, 1, 1, 0, 3, 1, 0, 0, 2, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 5, 0, 0, 1, 2, 0, 1, 0, 5, 0, 1, 0, 0, 0, 0, 0, 2, 3, 0, 1, 0, 0, 1, 2, 0, 0, 2, 2, 2, 0, 0, 0, 1, 2, 0, 1, 2, 1, 3, 0, 0, 3, 0, 0, 3, 2, 2, 0, 1, 1, 1, 0, 2, 0, 0, 4, 0, 2, 1, 2, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 2, 0, 0, 0, 1, 0, 1, 1, 1, 2, 0, 2, 2, 0, 1, 0, 0, 1, 0, 2, 0, 1, 1, 0, 5, 1, 0, 0, 2, 0, 1, 1, 1, 1, 1, 1, 3, 0, 1, 1, 5, 1, 1, 0, 2, 0, 0, 3, 1, 0, 0, 1, 0, 3, 2, 0, 0, 0, 2, 0, 3, 1, 1, 1, 6, 1, 0, 0, 0, 0, 0, 1, 3, 0, 1, 1, 2, 1, 0, 3, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 2, 0, 0, 2, 1, 0, 0, 3, 3, 0, 1, 0, 0, 1, 1, 1, 3, 1, 0, 0, 0, 1, 0, 1, 2, 1, 0, 0, 0, 1, 3, 2, 0, 3, 3, 0, 0, 1, 2, 1, 0, 0, 0, 0, 2, 0, 1, 1, 0, 1, 1, 2, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 3, 2, 0, 0, 2, 0, 2, 0, 1, 2, 0, 0, 1, 1, 0, 0, 1, 1, 2, 0, 1, 0, 2, 1, 2, 2, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0], 'S Tier': [1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'Earnings': ['$561500', '$498859', '$495638', '$295374', '$257925', '$251500', '$225000', '$224149', '$210888', '$191000', '$186800', '$165972', '$146786', '$128793', '$126250', '$116307', '$108747', '$108250', '$106479', '$103250', '$102100', '$97745', '$96375', '$91522', '$86500', '$82983', '$81687', '$79376', '$76498', '$73968', '$73897', '$73750', '$72615', '$72097', '$71199', '$68526', '$63308', '$62092', '$61500', '$60375', '$58500', '$55989', '$54250', '$52735', '$51597', '$50561', '$47731', '$46400', '$45517', '$44321', '$43400', '$42976', '$42953', '$42826', '$42745', '$42237', '$41648', '$40003', '$38131', '$37789', '$36997', '$36700', '$35918', '$35831', '$35800', '$35100', '$34930', '$34545', '$34360', '$33640', '$33425', '$32000', '$31956', '$31426', '$31150', '$31094', '$30832', '$29986', '$29889', '$29750', '$29381', '$29300', '$28884', '$28370', '$28250', '$27479', '$27373', '$27347', '$26328', '$25514', '$25000', '$24681', '$24158', '$24063', '$23941', '$23611', '$23237', '$23180', '$23125', '$22864', '$22676', '$21917', '$21850', '$21845', '$21523', '$21500', '$21330', '$21099', '$21094', '$20977', '$20755', '$20659', '$19977', '$19750', '$19533', '$19207', '$18982', '$18897', '$18300', '$18070', '$17651', '$17544', '$17511', '$16837', '$16750', '$16748', '$16714', '$16550', '$16500', '$16487', '$16461', '$16386', '$16300', '$16250', '$16162', '$16125', '$16075', '$16059', '$16005', '$15948', '$15708', '$15613', '$15500', '$15455', '$15453', '$15409', '$15305', '$14959', '$14840', '$14500', '$14366', '$14332', '$14108', '$14000', '$13900', '$13884', '$13519', '$13247', '$13231', '$13100', '$13100', '$13060', '$13050', '$12647', '$12625', '$12358', '$11832', '$11826', '$11600', '$11564', '$11500', '$11383', '$11312', '$11200', '$11134', '$10868', '$10430', '$10300', '$10048', '$10020', '$10000', '$10000', '$9969', '$9900', '$9896', '$9814', '$9734', '$9725', '$9707', '$9704', '$9573', '$9463', '$9350', '$9285', '$9280', '$9250', '$9219', '$9132', '$9055', '$8917', '$8848', '$8780', '$8672', '$8666', '$8531', '$8425', '$8410', '$8409', '$8405', '$8395', '$8282', '$8261', '$8250', '$8246', '$8206', '$8127', '$8089', '$8089', '$8057', '$8000', '$8000', '$7838', '$7783', '$7758', '$7600', '$7580', '$7511', '$7500', '$7470', '$7460', '$7260', '$7209', '$7197', '$7100', '$7100', '$6920', '$6855', '$6843', '$6780', '$6775', '$6697', '$6665', '$6626', '$6548', '$6535', '$6447', '$6369', '$6359', '$6296', '$6290', '$6250', '$6128', '$6073', '$6034', '$6005', '$5899', '$5896', '$5815', '$5746', '$5662', '$5650', '$5570', '$5550', '$5538', '$5477', '$5450', '$5388', '$5351', '$5176', '$5142', '$5125', '$5067', '$5066', '$5016', '$5007', '$4970', '$4872', '$4818', '$4798', '$4775', '$4750', '$4668', '$4632', '$4531', '$4530', '$4530', '$4500', '$4473', '$4457', '$4299', '$4266', '$4196', '$4108', '$4087', '$4034', '$4021', '$4009', '$4000', '$4000', '$3976', '$3938', '$3900', '$3841', '$3813', '$3804', '$3759', '$3744', '$3734', '$3700', '$3668', '$3558', '$3553', '$3399', '$3364', '$3350', '$3325', '$3298', '$3278', '$3262', '$3256', '$3104', '$3030', '$3000', '$3000', '$3000', '$2978', '$2947', '$2900', '$2890', '$2823', '$2810', '$2800', '$2788', '$2689', '$2664', '$2657', '$2634', '$2607', '$2600', '$2597', '$2531', '$2358', '$2350', '$2287', '$2253', '$2250', '$2240', '$2198', '$2193', '$2163', '$2150', '$2150', '$2125', '$2022', '$2022', '$2021', '$2000', '$1900', '$1897', '$1875', '$1858', '$1847', '$1783', '$1756', '$1750', '$1709', '$1701', '$1700', '$1687', '$1650', '$1633', '$1586', '$1562', '$1509', '$1411', '$1355', '$1318', '$1300', '$1200', '$1025', '$1014', '$1001', '$1000', '$955', '$949', '$868', '$820', '$765', '$693', '$564', '$555', '$500', '$500', '$363', '$348', '$298', '$283', '$282', '$267', '$247', '$107', '$92']}

---
# Putting Data within respectable LoL(List of List)

The purpose of List of List is to organize the data and return two lists. One thats a list that returns the headers which is most cases will be in line 1. And the other where its a 2D List that returns all of the data within the CSV file past the header.

In [5]:
def ValorantLoL(file):
    """
    Returns a List of List from 
    data collected of a CSV file
    
    Parameters
    ----------
    file : CSV file
        - The first parameter
        
    Returns
    -------
    header : List
        - A list containing the header of the CSV file
    LoL : Nested List
        - A nested list that contains all the 
          data past the header in the CSV file
    """  
    with open(file, 'r', encoding='UTF-8') as file:
        csv_reader = csv.reader(file)
        header = next(csv_reader) #Grabs the first line of the CSV file
        
        LoL = [row for row in csv_reader]#Puts all the data within its own List
        
        for row in range(len(LoL)):
            for column in range(len(LoL[row])):
                LoL[row][column] = LoL[row][column].replace(',', '')
                if(LoL[row][column].isdigit()): ##Checks to see if string is a integer
                    LoL[row][column] = int(LoL[row][column])
                elif(isfloat(LoL[row][column])): #Checks to see if string is a decimal
                    LoL[row][column] = float(LoL[row][column])
    return header, LoL

### Printing out the List of List
>Using the function we created ValorantLoL(file) we convert the CSV file to a List of Lists

###### You can change the file path to read a different CSV file

In [6]:
headerLoL, DictionaryLoL = ValorantLoL(os.path.join(datadir, "Valorant_Weapon_Stats", "valorant-stats.csv"))
print(headerLoL)
print(DictionaryLoL)

['Name', 'Weapon Type', 'Price', 'Fire Rate', 'Wall Penetration', 'Magazine Capacity', 'HDMG_0', 'BDMG_0', 'LDMG_0', 'HDMG_1', 'BDMG_1', 'LDMG_1', 'HDMG_2', 'BDMG_2', 'LDMG_2']
[['Classic', 'Sidearm', 0, 6.75, 'Low', 12, 78, 26, 22, 78, 26, 22, 66, 22, 18], ['Shorty', 'Sidearm', 200, 3.3, 'Low', 2, 36, 12, 10, 24, 8, 6, 9, 3, 2], ['Frenzy', 'Sidearm', 400, 10, 'Low', 13, 78, 26, 22, 63, 21, 17, 63, 21, 17], ['Ghost', 'Sidearm', 500, 6.75, 'Medium', 15, 105, 33, 26, 88, 25, 21, 88, 25, 21], ['Sheriff', 'Sidearm', 800, 4, 'High', 6, 160, 55, 47, 160, 55, 47, 145, 50, 43], ['Stinger', 'SMG', 1000, 18, 'Low', 20, 67, 27, 23, 62, 25, 21, 62, 25, 21], ['Spectre', 'SMG', 1600, 13.33, 'Medium', 30, 78, 26, 22, 66, 22, 18, 66, 22, 18], ['Bulldog', 'Rifle', 2100, 9.15, 'Medium', 24, 116, 35, 30, 116, 35, 30, 116, 35, 30], ['Guardian', 'Rifle', 2500, 6.5, 'Medium', 12, 195, 65, 49, 195, 65, 49, 195, 65, 49], ['Phantom', 'Rifle', 2900, 11, 'Medium', 30, 156, 39, 33, 140, 35, 30, 124, 31, 26], ['Vandal', 'Rifle', 2900, 9.25, 'Medium', 25, 156, 39, 33, 156, 39, 33, 156, 39, 33], ['Marshall', 'Sniper', 1100, 1.5, 'Medium', 5, 202, 101, 85, 202, 101, 85, 202, 101, 85], ['Operator', 'Sniper', 4500, 0.75, 'High', 5, 255, 150, 127, 255, 150, 127, 255, 150, 127], ['Bucky', 'Shotgun', 900, 1.1, 'Low', 5, 55, 22, 19, 34, 17, 14, 18, 9, 8], ['Judge', 'Shotgun', 1500, 3.5, 'Medium', 7, 34, 17, 14, 26, 13, 11, 20, 10, 9], ['Ares', 'Heavy', 1600, 10, 'High', 50, 72, 30, 25, 72, 30, 25, 67, 28, 23], ['Odin', 'Heavy', 3200, 12, 'High', 100, 95, 38, 32, 95, 38, 32, 77, 31, 26]]

---
## Projecting Dictionary of List to a Pandas Data Frame

Uses pandas to convert Dictionary of Lists into tabular data. Uses the keys as columns and the values as the data within the keys. The tabular data is meant to easily represent the data within a table so it is much better to visualize it to the human eye.

In [7]:
DoLDataFrame = pd.DataFrame.from_dict(DictionaryDoL)

#Displaying the Data Frame
DoLDataFrame

     Rank              Team  Gold  Silver  Bronze  S Tier Earnings
0       1         Sentinels    12       3       1       1  $561500
1       2             Acend     5       1       1       1  $498859
2       3    Gambit Esports     8       3       0       1  $495638
3       4       Team Liquid     4       2       2       0  $295374
4       5        G2 Esports     7       2       1       0  $257925
..    ...               ...   ...     ...     ...     ...      ...
397   398  Unicorns of Love     0       0       0       0     $282
398   399        Nora-Rengo     1       0       0       0     $267
399   400       Lunatic-hai     0       0       1       0     $247
400   401     DETONA Gaming     1       0       0       0     $107
401   402  Lunatic-hai FLUX     0       1       0       0      $92

[402 rows x 7 columns]

---
## Projecting List of List to a Pandas Data Frame

Uses pandas to convert the List of List into tabular data. Uses headers as columns and LoL for the data within columns. We use Pandas to create a tabular data so that we can look at information much easier.

In [8]:
LoLDataFrame = pd.DataFrame(DictionaryLoL, columns=headerLoL)

#Displaying the Data Frame
LoLDataFrame

,Name,Weapon Type,Price,Fire Rate,Wall Penetration,Magazine Capacity,HDMG_0,BDMG_0,LDMG_0,HDMG_1,BDMG_1,LDMG_1,HDMG_2,BDMG_2,LDMG_2
0,Classic,Sidearm,0,6.75,Low,12,78,26,22,78,26,22,66,22,18
1,Shorty,Sidearm,200,3.30,Low,2,36,12,10,24,8,6,9,3,2
2,Frenzy,Sidearm,400,10.00,Low,13,78,26,22,63,21,17,63,21,17
3,Ghost,Sidearm,500,6.75,Medium,15,105,33,26,88,25,21,88,25,21
4,Sheriff,Sidearm,800,4.00,High,6,160,55,47,160,55,47,145,50,43
5,Stinger,SMG,1000,18.00,Low,20,67,27,23,62,25,21,62,25,21
6,Spectre,SMG,1600,13.33,Medium,30,78,26,22,66,22,18,66,22,18
7,Bulldog,Rifle,2100,9.15,Medium,24,116,35,30,116,35,30,116,35,30
8,Guardian,Rifle,2500,6.50,Medium,12,195,65,49,195,65,49,195,65,49
9,Phantom,Rifle,2900,11.00,Medium,30,156,39,33,140,35,30,124,31,26
10,Vandal,Rifle,2900,9.25,Medium,25,156,39,33,156,39,33,156,39,33
11,Marshall,Sniper,1100,1.50,Medium,5,202,101,85,202,101,85,202,101,85
12,Operator,Sniper,4500,0.75,High,5,255,150,127,255,150,127,255,150,127
13,Bucky,Shotgun,900,1.10,Low,5,55,22,19,34,17,14,18,9,8
14,Judge,Shotgun,1500,3.50,Medium,7,34,17,14,26,13,11,20,10,9
15,Ares,Heavy,1600,10.00,High,50,72,30,25,72,30,25,67,28,23
16,Odin,Heavy,3200,12.00,High,100,95,38,32,95,38,32,77,31,26

---
## Projecting CSV using Pandas

We can use pandas to grab the data fro the CSV instead of making a Nested List or a Dictionary of List. This method is much easier although grabbing exact numbers can be a bit tricky which could possibly lead to missing data.

>Here we can display the rest of the CSV files into the Pandas Dataframe

In [9]:
pdDataFrame1 = pd.read_csv(os.path.join(datadir, "Valorant_Leaderboard_Stats", "val_stats.csv"), sep=',', error_bad_lines=False, index_col=False, dtype='unicode')

#Displaying the Data Frame
pdDataFrame1

,region,name,tag,rating,damage_round,headshots,headshot_percent,aces,clutches,flawless,...,gun2_name,gun2_head,gun2_body,gun2_legs,gun2_kills,gun3_name,gun3_head,gun3_body,gun3_legs,gun3_kills
0,NaN,ShimmyXD,#NA1,Radiant,135.8,992,24.9,0,140,80,...,Phantom,33,62,5,220,Classic,36,60,3,147
1,NaN,XSET Cryo,#cells,Radiant,170.3,879,28.3,2,122,94,...,Operator,8,91,0,226,Phantom,32,63,5,137
2,NaN,PuRelittleone,#yoruW,Radiant,147.5,720,24,3,117,59,...,Phantom,36,61,3,231,Operator,8,91,1,102
3,NaN,Boba,#0068,Radiant,178.2,856,37.3,3,83,49,...,Sheriff,48,51,1,48,Phantom,44,56,0,36
4,NaN,i love mina,#kelly,Radiant,149.8,534,24.4,2,71,38,...,Spectre,21,71,8,65,Operator,8,92,0,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85673,LAT,Kazutora,#img0d,Radiant,138.2,342,21.4,0,58,54,...,Vandal,28,69,2,175,Classic,39,59,2,71
85674,LAT,el lobo marino,#uthur,Radiant,182.9,650,30.1,4,77,42,...,Vandal,40,57,3,212,Spectre,33,63,5,139
85675,LAT,p9pzet,#666x,Radiant,158.8,613,30.2,0,70,54,...,Phantom,40,56,4,159,Operator,10,89,1,87
85676,LAT,EZ4TGD EnSBuwu,#kmeve,Immortal 3,155.9,132,22.2,0,23,18,...,Phantom,39,57,3,37,Spectre,27,69,4,17
85677,LAT,Neon,#SSJ,Radiant,164.4,"1,127",20.7,3,136,82,...,Operator,9,88,2,132,Spectre,27,70,2,108

In [10]:
pdDataFrame2 = pd.read_csv(os.path.join(datadir, "Valorant_eSports", "Players.csv"))

#Displaying the Data Frame
pdDataFrame2

     Rank      Player  Gold  Silver  Bronze  S Tier  Earnings
0       1       zombs    13       5       1       1  $113,550
1       2     ShahZaM    13       4       1       1  $113,450
2       3        dapr    14       3       1       1  $112,870
3       4        SicK    12       3       1       1  $112,650
4       5        cNed    12       4       2       1  $107,735
..    ...         ...   ...     ...     ...     ...       ...
495   496         Kim     3       4       1       0    $5,555
496   497        Less     3       1       1       0    $5,543
497   498  Senhoachic     7       2       5       0    $5,537
498   499       chase    19      10       2       0    $5,531
499   500     Harmful     6       4       2       0    $5,530

[500 rows x 7 columns]

In [11]:
pdDataFrame3 = pd.read_csv(os.path.join(datadir, "EDA_of_Valorant", "val_stats.csv"), sep=',', error_bad_lines=False, index_col=False, dtype='unicode')

#Displaying the Data Frame
pdDataFrame3

,region,name,tag,rating,damage_round,headshots,headshot_percent,aces,clutches,flawless,...,gun2_name,gun2_head,gun2_body,gun2_legs,gun2_kills,gun3_name,gun3_head,gun3_body,gun3_legs,gun3_kills
0,NaN,ShimmyXD,#NA1,Radiant,135.8,992,24.9,0,140,80,...,Phantom,33,62,5,220,Classic,36,60,3,147
1,NaN,XSET Cryo,#cells,Radiant,170.3,879,28.3,2,122,94,...,Operator,8,91,0,226,Phantom,32,63,5,137
2,NaN,PuRelittleone,#yoruW,Radiant,147.5,720,24,3,117,59,...,Phantom,36,61,3,231,Operator,8,91,1,102
3,NaN,Boba,#0068,Radiant,178.2,856,37.3,3,83,49,...,Sheriff,48,51,1,48,Phantom,44,56,0,36
4,NaN,i love mina,#kelly,Radiant,149.8,534,24.4,2,71,38,...,Spectre,21,71,8,65,Operator,8,92,0,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85673,LAT,Kazutora,#img0d,Radiant,138.2,342,21.4,0,58,54,...,Vandal,28,69,2,175,Classic,39,59,2,71
85674,LAT,el lobo marino,#uthur,Radiant,182.9,650,30.1,4,77,42,...,Vandal,40,57,3,212,Spectre,33,63,5,139
85675,LAT,p9pzet,#666x,Radiant,158.8,613,30.2,0,70,54,...,Phantom,40,56,4,159,Operator,10,89,1,87
85676,LAT,EZ4TGD EnSBuwu,#kmeve,Immortal 3,155.9,132,22.2,0,23,18,...,Phantom,39,57,3,37,Spectre,27,69,4,17
85677,LAT,Neon,#SSJ,Radiant,164.4,"1,127",20.7,3,136,82,...,Operator,9,88,2,132,Spectre,27,70,2,108